<div style="margin: 50px;" class="text-center border">
    <div class="containter">
        <div class="row">

            <div class="col-3 offset-3">
                <div class="card bg-light" style="width: 18rem; height: 15rem; display: inline-block;">
                    <div class="card-body">
                        <h5 class="card-title">An introduction to Tarifiyt Berber</h5>
                        <p class="card-text">This book provides a grammatical sketch, glossed texts and a glossary of Tarifiyt Berber,...</p>
                        <a href="https://drive.google.com/file/d/17uPKJWN2P4UiXLMlKhWMygOrcLUXMt-1/view?usp=sharing" class="btn btn-primary">Download</a>
                    </div>
                </div>
            </div>
            
            <div class="col-3">
                <div class="card bg-light" style="width: 18rem; height: 15rem; display: inline-block;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>