<div style="margin: 50px;" class="text-center">
    <div class="containter">
        <div class="row d-flex justify-content-center">
            <div class="card bg-light" style="width: 18rem; height: 15rem; display: inline-block;">
                <div class="card-body card-body d-flex flex-column h-100">
                    <h5 class="card-title">An introduction to Tarifiyt Berber</h5>
                    <p class="card-text">This book provides a grammatical sketch, glossed texts and a glossary of Tarifiyt Berber,...</p>
                    <a href="https://drive.google.com/file/d/17uPKJWN2P4UiXLMlKhWMygOrcLUXMt-1/view?usp=sharing" target="_blank" rel="noopener noreferrer" class="btn btn-primary mt-auto">Download</a>
                </div>
            </div>
            <div class="card bg-light" style="width: 18rem; height: 15rem; display: inline-block;">
                <div class="card-body d-flex flex-column h-100">
                    <h5 class="card-title">Rudimentos berber rifenos</h5>
                    <p class="card-text">Learn Tarifit with this spanish coursebook.</p>
                    <a href="https://drive.google.com/file/d/18M5sY0UrVUsnbCsW4TVnb2N6IA-Rsyyx/view?usp=sharing" target="_blank" rel="noopener noreferrer" class="btn btn-primary mt-auto">Download</a>
                </div>
            </div>
            <div class="card bg-light" style="width: 18rem; height: 15rem; display: inline-block;">
                <div class="card-body d-flex flex-column h-100">
                    <h5 class="card-title">basiswoordenlijst Nederlands-Tarifit</h5>
                    <p class="card-text">Learn Tarifit with this basic word list in Dutch.</p>
                    <a href="https://drive.google.com/file/d/1vJ5zDEjLQAdcww-1JqBzJzE9CpRvPLNO/view?usp=sharing" target="_blank" rel="noopener noreferrer" class="btn btn-primary mt-auto">Download</a>
                </div>
            </div>
            <div class="card bg-light" style="width: 18rem; height: 15rem; display: inline-block;">
                <div class="card-body d-flex flex-column h-100">
                    <h5 class="card-title">Tarifit syllabus niveau IA</h5>
                    <p class="card-text">Learn Tarifit with this Dutch coursebook.</p>
                    <a href="https://drive.google.com/file/d/1lQw__rN_M3w0Jl7K3vu_9-XECPvxAid5/view?usp=sharing" target="_blank" rel="noopener noreferrer" class="btn btn-primary mt-auto">Download</a>
                </div>
            </div>
            <div class="card bg-light" style="width: 18rem; height: 15rem; display: inline-block;">
                <div class="card-body d-flex flex-column h-100">
                    <h5 class="card-title">Tira n Tamaziɣt (Dutch)</h5>
                    <p class="card-text">Learn to write Tamaziɣt with this Dutch pdf.</p>
                    <a href="https://drive.google.com/file/d/15QHAothHtVmy8ndrcQPUC6BtjtgWWFrK/view?usp=sharing" target="_blank" rel="noopener noreferrer" class="btn btn-primary mt-auto">Download</a>
                </div>
            </div>
            <div class="card bg-light" style="width: 18rem; height: 15rem; display: inline-block;">
                <div class="card-body d-flex flex-column h-100">
                    <h5 class="card-title">Tira n Tamaziɣt s awalen (French) </h5>
                    <p class="card-text">Learn to write Tarifit by looking at example words in French.</p>
                    <a href="https://drive.google.com/file/d/1FSQ_WNtp9olfB-_Tilv95qB3Kfsrhix2/view?usp=sharing" target="_blank" rel="noopener noreferrer" class="btn btn-primary mt-auto">Download</a>
                </div>
            </div>
            <div class="card bg-light" style="width: 18rem; height: 15rem; display: inline-block;">
                <div class="card-body d-flex flex-column h-100">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-primary mt-auto">Download</a>
                </div>
            </div>
        </div>
    </div>
</div>


