<div style="margin: 50px;" class="text-center">
    <div class="card bg-light" style="width: 18rem; display: inline-block;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Download</a>
        </div>
    </div>
    <div class="card bg-light" style="width: 18rem; display: inline-block;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Download</a>
        </div>
    </div>
    <div class="card bg-light" style="width: 18rem; display: inline-block;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Download</a>
        </div>
    </div>
    <div class="card bg-light" style="width: 18rem; display: inline-block;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Download</a>
        </div>
    </div>                    <div class="card bg-light" style="width: 18rem; display: inline-block;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Download</a>
        </div>
    </div><br>
    <div class="card bg-light" style="width: 18rem; display: inline-block;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Download</a>
        </div>
    </div>                     <div class="card bg-light" style="width: 18rem; display: inline-block;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Download</a>
        </div>
    </div>
    <div class="card bg-light" style="width: 18rem; display: inline-block;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Download</a>
        </div>
    </div>
    <div class="card bg-light" style="width: 18rem; display: inline-block;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Download</a>
        </div>
    </div>
    <br>
    <div class="card bg-light" style="width: 18rem; display: inline-block;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Download</a>
        </div>
    </div>
    <div class="card bg-light" style="width: 18rem; display: inline-block;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Download</a>
        </div>
    </div>
    <div class="card bg-light" style="width: 18rem; display: inline-block;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Download</a>
        </div>
    </div>
</div>